database:
  databaseUrl: "yourdburl"

origins:
  originUrls:   "http://localhost:3000"

passResetLink: "http://localhost:5173/reset-password"

smtp:
  smtpHost: "smtp.zyx.com"
  smtpUsername: "example@gmail.com"
  smtpPassword: "example"

otpSecret: "example"
jwtSecret: "example"

deployment:
  replicas: 1
  containerPort: 3001


image:
  rusty_backend: 
    repository: "example/affinity_backend"
    tag: "latest"
    pullPolicy: "Always"

  docker_dind: "docker:dind"
  redis: "redis:latest"

services:
  rusty_backend:
    port: 3001
  redis:
    port: 6379
  docker_dind:
    port: 2376


secrets:
  awsSecretName: "example-secret"
  awsAccessKeyId: "example"
  awsSecretAccessKey: "8YYwRWIC5u+example"
  awsRegion: "ap-example-1"
 