name: Rust

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always
  DATABASE_URL: "YOUR_POSTGRES_DB_URL"
  SMTP_USERNAME: "example@gmail.com"
  SMTP_PASSWORD: "example"
  SMTP_HOST: "smtp.example.com"
  OTP_SECRET: "lorememsum"
  JWT_SECRET: "yoursecret"
  PASS_RESET_LINK: "http://localhost:5173/reset-password"
  ALLOWED_ORIGINS: "http://localhost:3000,http://yourdomain.com"

jobs:
  # test:
  #   name: Test
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: dtolnay/rust-toolchain@stable
  #     - run: cargo test --all-features

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo fmt --all -- --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo clippy
